@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background:
    radial-gradient(
      circle at top left,
      rgba(59,130,246,0.15),
      transparent 30%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(168,85,247,0.15),
      transparent 30%
    ),
    #050505;

  color: white;
}

* {
  font-family: "Inter", sans-serif;
}

:root {
  --primary: #3b82f6;
  --secondary: #9333ea;
}